<!-- Acts as base for form, will allow creation of post and grab information from server -->
<%- include("partials/header.ejs") %>


 <% if(locals.postList) {%>
    <% for(let i = 0; i < postList.length; i++){ %>
        <ul>
            <li>Posted by: <%= postList[i].name %></li>
            <li>Comment: <%= postList[i].review %></li>
            <li class="is-size-6"> Post ID: <%= postList[i].postId %></li><br>
        </ul>
        <% } %>
<% } else{%>
    <p>No Reviews Currently</p>
    <%} %>

    <form action="/viewAll/updateList" method="post">
        <label for="postId">Post ID: </label><br>
        <input type="text" name="postId" id="postId">
        <button class="button" type="submit">Delete</button>
    </form>
<%- include("partials/footer.ejs") %>